entrypoint = "index.html"
modules = ["web", "python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_11"
packages = ["imagemagick", "static-web-server"]

[deployment]
deploymentTarget = "cloudrun"
run = ["bash", "start.sh"]
build = ["bash", "build.sh"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
echo \"Serving HTML, open the Preview to see your output.
To see changes you make, you can hit the refresh button in the preview, you do \u001B[1mnot\u001B[0m have to stop and run again.
Console logs are available in the Preview devtools or your browser devtools.\" && static-web-server -w ./.config/static-web-server.toml > /dev/null 2>&1
"""
waitForPort = 80
[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"
[[workflows.workflow]]
name = "Frontend Server"
author = "agent"
[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node frontend-server.js"
waitForPort = 5000
[[workflows.workflow]]
name = "Backend Server"
author = "agent"
[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && node src/server.js"
waitForPort = 3000

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5904
externalPort = 3001
[agent]
expertMode = true
integrations = ["stripe:1.0.0", "javascript_object_storage:2.0.0"]
[userenv]
[userenv.shared]
ZEPTOMAIL_API_KEY = "wSsVR61z+hLwDa98lTavce47nwhdUVOlERh1jQOivXStTfGRpcc8n0PNA1X2SfNNQDNpFDQU8rIrzh4F1WYK3Nl4zFBRCyiF9mqRe1U4J3x17qnvhDzPXm5VmhCPLYwKxg9qmGVjFMAr+g=="
EMAIL_USER = "noreply@egtravelmarket.com"
ADMIN_EMAIL = "info@egtravelmarket.com"
[userenv.production]
FRONTEND_URL = "https://www.egtravelmarket.com"
NODE_ENV = "production"
REPLIT_ENVIRONMENT = "production"
BACKEND_PORT = "3000"
PORT = "80"
[userenv.development]
FRONTEND_URL = "http://localhost:5000"
NODE_ENV = "development"
BACKEND_PORT = "3000"
PORT = "5000"
REPLIT_ENVIRONMENT = "development"
